/**
 * Bright-on-dark theme for reveal.js.
 *
 * Based on Hakim El Hattab's theme "night".
 * Best enjoyed with an unobstrusive, favorably black & white background image.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #262429;
$slideBackgroundColor: rgba(38, 36, 41, 0.95);

$headingColor: white;
$mainColor: white;
$dimColor: #aaa;
$linkColor: #69ea7d;
$linkColorHover: $linkColor;
$linkFontweight: bold;
$selectionBackgroundColor: #606060;

$blockCodeColor: white;
$inlineCodeColor: white;

$quoteColor: lighten($backgroundColor, 10%);
$quoteEmColor: darken($quoteColor, 20%);
$quoteBackgroundColor: $mainColor;

// my template ------------------------------
@import "../template/nipa-day-and-night-fonts";
@import "../template/nipa-day-and-night";
// ---------------------------------------------

// customizing the template --------------------
// night blockquotes are bright and so is code highlighting
// ~> invert colors
.reveal blockquote code.hljs {
	filter: invert(100%);
}

// make sure diagrams (which often have transparent backgrounds)
// are readable
.reveal section .diagram img {
	background-color: white;
	box-shadow: 0px 0px 10px 10px white;
}
// ---------------------------------------------

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
