/**
 * Bright-on-dark theme for reveal.js.
 *
 * Based on Hakim El Hattab's theme "night".
 * Best enjoyed with an unobstrusive, favorably black & white background image.
 */
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);
.reveal .slides {
  bottom: 30px; }

.reveal h3 {
  margin-top: 30px !important; }

.reveal .slides > section,
.reveal .slides > section > section {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9); }

.empty .reveal .slides section {
  background-color: inherit; }

.title-slide {
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.9); }
  .title-slide .event {
    display: flex;
    justify-content: space-between;
    margin: 0px 30px; }
  .title-slide .participant {
    height: 80px;
    width: 350px;
    margin: 0px 30px; }
  .title-slide .logo {
    height: 60px;
    margin: 0 10px 0 0;
    padding: 5px;
    float: left; }
  .title-slide .name {
    margin: 5px; }
    .title-slide .name p {
      padding: 0;
      margin: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 25px;
      font-weight: normal;
      color: #EEE;
      text-align: left; }
      .title-slide .name p a {
        color: #EEE;
        text-decoration: inherit;
        font-weight: inherit; }

.title-slide footer {
  display: none; }

.reveal .toc {
  font-weight: bold; }
  .reveal .toc .toc-current td {
    color: orange;
    border-color: #EEE; }

.no-title h2 {
  display: none; }

.reveal .quoteblock {
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #EEE; }
  .reveal .quoteblock blockquote::before {
    content: "\201c";
    float: left;
    font-family: Montserrat;
    font-size: 2.75em;
    font-weight: bold;
    line-height: 0.8em;
    margin-left: -0.7em;
    color: #2b2b2b; }
  .reveal .quoteblock blockquote {
    width: 75%;
    background-color: inherit;
    box-shadow: none; }
    .reveal .quoteblock blockquote p {
      text-align: left;
      color: #2b2b2b; }
      .reveal .quoteblock blockquote p em {
        color: black;
        font-weight: bold; }
  .reveal .quoteblock .attribution {
    color: #2b2b2b; }

.reveal section img :not(.diagram) {
  background: none !important;
  border: none !important;
  box-shadow: none !important; }

.reveal .listingblock .content {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .reveal .listingblock .content pre {
    width: inherit; }
    .reveal .listingblock .content pre code {
      padding: 10px;
      max-height: none;
      font-size: 180%;
      line-height: 120%; }

.reveal .loweralpha {
  list-style-type: lower-alpha; }

.reveal .conversation {
  margin: 0 auto;
  width: 80%;
  text-align: inherit; }
  .reveal .conversation p {
    margin: 5px 0px; }
  .reveal .conversation .left {
    text-align: left; }
  .reveal .conversation .right {
    text-align: right; }

.fragment.dim:not(.visible) {
  color: inherit;
  visibility: inherit !important;
  opacity: inherit !important; }

.fragment.dim {
  color: #6f6f6f; }

.fragment.current-display.current-fragment {
  display: inherit; }

.fragment.current-display {
  display: none; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px 30px 0 30px; }
  footer .participant {
    width: 450px;
    margin: 0px 30px; }
  footer .logo {
    height: 25px;
    padding: 2px;
    margin: 0px 10px 0 0;
    float: left; }
  footer .name {
    margin: 5px; }
    footer .name p {
      padding: 0;
      margin: 0;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: normal;
      color: #EEE;
      text-align: left; }
      footer .name p a {
        color: #EEE;
        text-decoration: inherit;
        font-weight: inherit; }

.title-slide .logo {
  background-color: #EEE !important;
  border-radius: 5px; }

.title-slide .logo-on-black {
  background-color: #000 !important;
  border-radius: 0px; }

footer .logo {
  background-color: #EEE !important;
  border-radius: 2px; }

footer .logo-on-background {
  background-color: #000 !important;
  border-radius: 0px; }

.diagram img {
  background: none !important;
  background-color: white !important;
  border: none !important;
  box-shadow: 0px 0px 20px 20px white !important; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #111;
  background-color: #111; }

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: normal;
  color: #EEE; }

::selection {
  color: #fff;
  background: violet;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: white;
  font-family: "Montserrat", Impact, sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 3.77em; }

.reveal h2 {
  font-size: 2.11em; }

.reveal h3 {
  font-size: 1.55em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 10px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 10px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 10px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: orange;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #ffc966;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #b37400; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #EEE;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: orange;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: orange; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: orange; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: orange; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: orange; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #ffc966; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #ffc966; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #ffc966; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #ffc966; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: orange;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
