/**
 * Dark-on-bright theme for reveal.js.
 *
 * Based on Hakim El Hattab's theme "night".
 * Best enjoyed with an unobstrusive, favorably black & white background image.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #FFF;
$slideBackgroundColor: rgba(255, 255, 255, 0.9);

$headingColor: black;
$mainColor: #111;
$dimColor: lighten( $mainColor, 50% );
$linkColor: #0048ab;
$linkColorHover: lighten( $linkColor, 20% );
$linkFontweight: bold;
$selectionBackgroundColor: violet;

$quoteColor: darken($backgroundColor, 10%);
$quoteEmColor: lighten($quoteColor, 20%);
$quoteBackgroundColor: $mainColor;

// my template ------------------------------
@import "../template/nipa-day-and-night";
// ---------------------------------------------

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
