[submodule "_asciidoctor-reveal.js"]
	path = _asciidoctor-reveal.js
	url = https://github.com/CodeFX-org/asciidoctor-reveal.js.git
	branch = nipa-talks

[submodule "_reveal.js"]
	path = _reveal.js
	url = https://github.com/nipafx/reveal.js
	branch = nipa-talks
