/**
 * Dark-on-bright theme for reveal.js.
 *
 * Based on Hakim El Hattab's theme "night".
 * Best enjoyed with an unobstrusive, favorably black & white background image.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: white;
$slideBackgroundColor: rgba(255, 255, 255, 0.9);

$headingColor: #262429;
$mainColor: #262429;
$dimColor: #606060;
$linkColor: #69ea7d;
$linkColorHover: $linkColor;
$linkFontweight: bold;
$selectionBackgroundColor: #aaa;

$blockCodeColor: #262429;
$inlineCodeColor: #262429;

$quoteColor: darken($backgroundColor, 10%);
$quoteEmColor: lighten($quoteColor, 20%);
$quoteBackgroundColor: $mainColor;

// my template ------------------------------
@import "../template/nipa-day-and-night-fonts";
@import "../template/nipa-day-and-night";
// ---------------------------------------------

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
